//colors
$white: #ffffff;
$black: #000000;
$gray: #f9f9f9;
$gray-medium: #cccccc;
$gray-dark: #555555;
$yellow: #ffdd00;
$blue: #0088CC;

//fonts
// Fonts Family
$base-font-family: "Kelson", -apple-system, BlinkMacSystemFont, "Roboto", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif;
$secondary-font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
$utils-font-family: "Roboto";

//grid
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1837px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1170px
) !default;
