@charset 'utf-8';

//utils
@import 'global/utils/functions';
@import 'global/utils/mixins';
@import 'global/utils/utils';
@import 'global/utils/breakpoints';
@import 'global/utils/animations';

//settings
@import 'settings';

//libs
@import 'libs';

// @import 'global/typography';
@import 'global/fonts';
@import 'global/common';

//grid
//@import "global/grid/grid-framework";
//@import "global/grid/grid";
//@import "global/grid";

@import "components/btn.scss";
@import "components/container.scss";
@import "components/page";
@import "components/page-header";
@import "components/logo";
@import "components/select.scss";
@import "components/input.scss";
@import "components/page-promo";
@import "components/form";
@import "components/page-main";
@import "components/location";
@import "components/details";
@import "components/page-footer";
@import "components/modal";
@import "components/support";
@import "components/page-banner-test.scss";
@import "components/steps-test.scss";
