html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


html,
body {
  height: 100%;
  font-family: $base-font-family;
  font-size: 13px;
  //line-height: 14px;
  color: $black;
  background-color: $gray;
}
