.advantages {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  list-style: none;

  @include media-breakpoint-up(sm) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &-item {
    margin-right: 2.5vw;
    margin-left: 2.5vw;
  }

  &-item svg {
    margin-top: 25px;
    margin-bottom: 15px;
    width: 120px;
    height: 120px;

    @include media-breakpoint-up(sm) {
      width: 5vw;
      height: 5vw;
    }
  }

  b {
    display: block;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
    font-weight: 400;

    @include media-breakpoint-up(sm) {
      font-size: 2vw;
      line-height: 2vw;
    }
  }

  p {
    font-size: 14px;
    line-height: 16px;

    @include media-breakpoint-up(sm) {
      font-size: 1vw;
      line-height: 1.2vw;
    }
  }
}
