.banner-test {
  position: relative;
  margin-top: 125px;
  height: 427px;
  display: block;
  padding-top: 50px;
  text-align: center;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-image:   url("../img/content/banner-test-path.svg"), url("../img/content/banner-test.png");
  background-size: 880px auto, cover;
  background-position: 51% 65.3%, 50% 0;

  @include media-breakpoint-up(md) {
    background-image:  url("../img/content/banner-test-marker.svg"), url("../img/content/banner-test-bus.svg"), url("../img/content/banner-test-path.svg"), url("../img/content/banner-test.png");
    background-size: 69px 119px, 156px 100px, 880px auto, cover;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: calc(50% + 336px) 48%, calc(50% - 297px) 54%, 51% 65.3%, 50% 0;
  }

  @include media-breakpoint-up(lg) {
    background-position: calc(50% + 438px) 52%, calc(50% - 350px) 55%, 51% 65.3%, 50% 0;
  }

  @include media-breakpoint-up(xxl) {
    height: 300px;
    background-color: #FDD900;
    background-image:  url("../img/content/banner-test-marker.svg"), url("../img/content/banner-test-bus-2.svg"), url("../img/content/banner-test-path-2.svg");
    background-position: calc(50% + 434px) 96%, calc(50% - 336px) 104%, 50% 100%;
  }

  &::before {
    content: "";
    position: absolute;
    top: 47%;
    left: 0;
    width: 98px;
    height: 70px;
    transform: rotateZ(6deg);
    background: url("../img/content/banner-test-bus.svg");
    background-repeat: no-repeat;

    @include media-breakpoint-up(sm) {
      top: 46%;
      left: 4px;
      width: 120px;
      height: 70px;
      transform: rotateZ(3deg);
    }

    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 44%;
    right: 0;
    width: 35px;
    height: 60px;
    background: url("../img/content/banner-test-marker.svg");
    background-repeat: no-repeat;

    @include media-breakpoint-up(sm) {
      top: 42%;
      right: 6px;
      width: 50px;
      height: 75px;
    }

    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  &-inner {
    @extend .container;
    position: relative;
  }

  &-title {
   margin-top: 0;
   margin-bottom: 10px;
   font-size: 42px;
   text-transform: uppercase;

    @include media-breakpoint-up(sm) {
       font-size: 62px;
    }

    @include media-breakpoint-up(xl) {
      font-size: 70px;
    }

     @include media-breakpoint-up(xxl) {
        font-size: 70px;
     }
  }

  &-text {
    margin: 0;
    font-size: 25px;
    font-weight: 700;

    @include media-breakpoint-up(sm) {
      font-size: 33px;
    }

    @include media-breakpoint-up(xl) {
      font-size: 35px;
    }

    span {
      margin-top: 10px;
      display: inline-block;
      background: $white;
      padding: 5px 10px;
      border-radius: 15px;

      @include media-breakpoint-up(sm) {
        margin-top: 0;
      }
    }

    br {
      @include media-breakpoint-up(sm) {
        display: none;
      }
    }
  }
}
