.btn {
  border: none;
  padding: 20px 30px;
  font-family: $base-font-family;
  font-size: 30px;
  font-weight: 700;
  color: $black;
  background-color: $yellow;
  border-radius: 15px;
  text-decoration: none;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: rgba($yellow, 0.7);
  }
}
