.checkbox {

  &-label {
    position: relative;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    font-size: 2vw;
    line-height: 2.1vw;
    color: #817f7d;
    cursor: pointer;

    @include media-breakpoint-up(lg) {
      font-size: 1vw;
      line-height: 1vw;
    }

    .checkbox--no-pointer-events & {
      pointer-events: none;
    }

    &::before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      width: 3vw;
      height: 3vw;
      flex-shrink: 0;
      border: 2px solid #817f7d;
      border-radius: 3px;

      @include media-breakpoint-up(lg) {
        width: 15px;
        height: 15px;
      }

    }

    &::after {
      content: '';
      position: absolute;
      top: 0.4vw;
      left: 0.8vw;
      width: 1.2vw;
      height: 1.8vw;
      display: none;
      flex-shrink: 0;
      border: 3px solid #817f7d;
      border-top: none;
      border-left: none;
      transform: rotate3d(0, 0, 1, 45deg);

    }
  }

  input {
    display: none;
  }

  input:checked ~ &-label {
    //color: rgba($yellow, 0.6);

    //&::before {
    //  border-color: #817f7d;
    //}

    &::after {
      display: block;
    }
  }
}
