.container {
  width: 100%;
  max-width:  1100px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;

    @include media-breakpoint-up(lg) {
      max-width:  62vw;
    }
}
