.details {
  margin-top: 8vw;

  @include media-breakpoint-up(lg) {
    margin-top: 4vw;
    display: flex;
    justify-content: center;
  }
}

.detail {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
  text-align: left;

  &:not(:last-child) {
    @include media-breakpoint-up(lg) {
      margin-right: 2.1vw;
    }
  }

  @include media-breakpoint-up(lg) {
    margin: 0;
    display: inline-block;
    font-size: 0.8vw;
    order: 3;
  }

  &::before {
    content: "";
    margin-right: 2vw;
    display: inline-block;
    background-repeat: no-repeat;

      @include media-breakpoint-up(lg) {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-right: 0;
      }
  }

  span {
    display: inline-block;
    font-weight: 300;
  }

  &--bus {
    @include media-breakpoint-up(lg) {
      order: 1;
    }

    &::before {
      width: 16vw;
      height: 8.1vw;
      background-image: url("../../img/svg/bus-sm.svg");

      @include media-breakpoint-up(lg) {
        width: 6vw;
        height: 2.25vw;
      }
    }

    span {
      @include media-breakpoint-up(lg) {
        margin-left: 5.3vw;
      }
    }
  }

  &--time {
    @include media-breakpoint-up(lg) {
      order: 2;
    }

    &::before {
      width: 13vw;
      height: 13vw;
      background-image: url("../../img/svg/clock.svg");

      @include media-breakpoint-up(lg) {
        width: 3vw;
        height: 3vw;
      }
    }

    span {
      @include media-breakpoint-up(lg) {
        margin-left: 3.5vw;
      }
    }
  }

  &--location {
    &::before {
      left: -1.4vw;
      width: 18.1vw;
      height: 13vw;
      background-image: url("../../img/svg/mark.svg");

      @include media-breakpoint-up(lg) {
        width: 5vw;
        height: 3.3vw;
      }
    }

    span {
      @include media-breakpoint-up(lg) {
        margin-left: 3.8vw;
      }
    }
  }

  &--sms {
    &::before {
      width: 10vw;
      height: 11.2vw;
      background-image: url("../../img/svg/phone.svg");

      @include media-breakpoint-up(lg) {
        width: 2.6vw;
        height: 3.3vw;
      }
    }

    span {
      @include media-breakpoint-up(lg) {
        margin-left: 2.7vw;
      }
    }
  }
}
