.form {
  margin-top: 1.2vw;
  margin-left: 3vw;
  padding: 15px;
  display: none;
  background-color: $white;
  border-top: 3px solid $yellow;
  border-radius: 0.7vw;
  box-shadow: 0 0 30px rgba($black, 0.2);

  @include media-breakpoint-up(lg) {
    padding: 25px;
  }

  @include media-breakpoint-up(lg) {
    padding: 1.7vw;
    display: block;
  }

  @include media-breakpoint-up(xxl) {
    border-top-width: 0.2vw;
  }

  &--modal {
    margin: 0;
    display: block;
  }

  &-main {
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 8px;
    border-bottom: 1px solid $gray-medium;

    @include media-breakpoint-up(lg) {
      padding-right: 0.6vw;
      padding-left: 0.6vw;
      padding-bottom: 0.5vw;
    }
  }

  &-title {
    margin-top: 0;
    margin-bottom: 18px;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;

    @include media-breakpoint-up(lg) {
      font-size: 1.3vw;
    }

    @include media-breakpoint-up(xxl) {
      font-size: 1.15vw;
    }

    @include media-breakpoint-up(xxl) {
      margin-bottom: 1vw;
    }
  }

  &-btn {
    margin-top: 10px;
    width: 100%;
    padding: 15px 8px;
    font-size: 17px;
    color: $black;
    background-color: $yellow;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;

    @include media-breakpoint-up(lg) {
      margin-top: 0.6vw;
      padding: 1vw 0.5vw;
      font-size: 2vw;
    }

    @include media-breakpoint-up(xxl) {
      margin-top: 0.55vw;
      padding: 0.8vw 0.45vw;
      border-radius: 0.3vw;
    }

    @include hover {
      background-color: lighten($yellow, 10%);
    }

    @include active {
      background-color: lighten($yellow, 10%);
      box-shadow: 0 0 10px rgba($yellow, 0.6);
    }

    &:disabled {
      color: rgba($black, 0.2);
      background-color: $gray !important;
      cursor: not-allowed;
    }
  }

  &-group {
    margin-bottom: 6px;

    &:not(:nth-of-type(1)) {
      display: none;
    }
  }

  &-footer {
    padding-top: 17px;
    text-align: center;

    @include media-breakpoint-up(lg) {
      padding-top: 1.1vw;
    }

    @include media-breakpoint-up(xxl) {
      padding-top: 1vw;
    }
  }

  &-label {
    margin-bottom: 1vw;
    display: block;
    font-family: $secondary-font-family;
    font-size: 17px;
    color: $blue;
    text-transform: uppercase;

    @include media-breakpoint-up(lg) {
      font-size: 1.1vw;
    }

    @include media-breakpoint-up(xxl) {
      font-size: 0.95vw;
    }
  }

  &-cost {
    font-family: $secondary-font-family;
    font-size: 28px;
    color: $blue;

    @include media-breakpoint-up(lg) {
      font-size: 2.2vw;
    }

    @include media-breakpoint-up(xxl) {
      font-size: 1.5vw;
    }
  }

  label {
    display: block;
    font-family: $secondary-font-family;
    font-size: 12px;
    line-height: 22px;
    color: $gray-dark;

    @include media-breakpoint-up(lg) {
      font-size: 1.1vw;
      line-height: 2vw;
    }

    @include media-breakpoint-up(xl) {
      font-size: 0.9vw;
      line-height: 1.8vw;
    }

    @include media-breakpoint-up(xxl) {
      font-size: 0.75vw;
      line-height: 1.2vw;
    }
  }
}
