.input {
  padding-right: 8px;
  padding-left: 8px;
  height: 34px;
  width: 100%;
  font-family: $secondary-font-family;
  font-size: 2vw;
  line-height: 2.1vw;
  color: $gray-dark;
  background-color: $white;
  border-radius: 5px;
  border: 1px solid transparent;
  appearance: none;
  outline: none;

  @include media-breakpoint-up(lg) {
    border-radius: 0.3vw;
  }

  //@include hover {
  //  border-color: darken($gray-medium, 10%);
  //}
  //
  //@include focus {
  //  border-color: darken($gray-medium, 10%);
  //}

  @include media-breakpoint-up(xxl) {
    height: 1.9vw;
    font-size: 0.75vw;
    line-height: 1.2vw;
  }

  .form--test-drive & {
    padding-right: 15px;
    padding-left: 15px;
    height: 8vw;

    @include media-breakpoint-up(lg) {
      padding-right: 15px;
      padding-left: 15px;
      height: 3.3vw;
    }
  }
}
