.input {
  padding-right: 8px;
  padding-left: 8px;
  height: 34px;
  width: 100%;
  font-family: $secondary-font-family;
  font-size: 14px;
  line-height: 22px;
  color: $gray-dark;
  background-color: $white;
  border-radius: 5px;
  border: 1px solid $gray-medium;
  appearance: none;
  outline: none;

  @include media-breakpoint-up(lg) {
    border-radius: 0.3vw;
  }

  @include hover {
    border-color: darken($gray-medium, 10%);
  }

  @include focus {
    border-color: darken($gray-medium, 10%);
  }

  @include media-breakpoint-up(xxl) {
    height: 1.9vw;
    font-size: 0.75vw;
    line-height: 1.2vw;
  }
}
