.logo {
  margin-bottom: 20px;

  @include media-breakpoint-up(md) {
    margin-bottom: 0;
  }

  img {
    width: 120px;
    height: 50px;

    @include media-breakpoint-up(sm) {
      width: 135px;
      height: 78px;
    }

    .logo--flex & {
      @include media-breakpoint-up(lg) {
        width: 8.8vw;
        height: 5vw;
      }
    }
  }
}
