.logo {
  margin-bottom: 20px;

  @include media-breakpoint-up(sm) {
    margin-bottom: 0;
  }

  img {
    width: 120px;
    height: 50px;

    @include media-breakpoint-up(lg) {
      width: 8vw;
      height: auto;
    }

    //.logo--flex & {
    //  @include media-breakpoint-up(lg) {
    //    width: 8.8vw;
    //    height: 5vw;
    //  }
    //}
  }
}
