.page-footer {
  padding-top: 7vw;
  padding-bottom: 6vw;
  font-family: $secondary-font-family;
  color: $white;
  background-color: $black;

  @include media-breakpoint-up(lg) {
    padding-top: 3vw;
    padding-bottom: 3vw;
  }

  &-inner {
    @extend .container;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .page-inner--promo & {
      @include media-breakpoint-up(lg) {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
    }
  }

  .page-footer-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 2;
    text-align: center;

    &:not(:last-child) {
      margin-bottom: 2vw;

      @include media-breakpoint-up(lg) {
        margin-bottom: 0;
        margin-right: 1vw;
      }
    }
  }

  .page-footer-col--logo {
    @include media-breakpoint-up(lg) {
     order: -1;
    }
  }

  .page-footer-col--logo svg {
    margin-top: 4vw;
    margin-bottom: 4vw;
    width: 35vw;
    display: block;

    @include media-breakpoint-up(lg) {
      margin: 0;
      width: 5vw;
    }
  }

  .page-footer-col--copy {
    @include media-breakpoint-up(lg) {
      margin-top: 2vw;
      width: 100%;
    }
  }

  &-contact {
    position: relative;
    display: inline-block;
    font-size: 3.4vw;
    line-height: 6vw;
    color: rgba($white, 0.8);
    vertical-align: middle;

    @include media-breakpoint-up(lg) {
      font-size: 1.1vw;
      line-height: 1.2vw;
    }

    &::before {
      content: "";
      display: inline-block;
      background-repeat: no-repeat;
      vertical-align: middle;

      @include media-breakpoint-up(lg) {
        left: -1vw;
      }
    }

    b {
      color: rgba($white, 0.6);
    }

    a {
      color: $white;
      text-decoration: none;

      @include hover {
        color: lighten($white, 0.7);
      }

      @include active {
        color: lighten($white, 10%);
      }
    }

    //@include media-breakpoint-up(xl) {
    //  font-size: 0.75vw;
    //}

    &--address {
      margin-bottom: 30px;

      @include media-breakpoint-up(lg) {
        margin-bottom: 2vw;
      }

      &::before {
        width: 12px;
        height: 15px;
        background-image: url("../../img/svg/map-marker.svg");

        @include media-breakpoint-up(lg) {
          width: 0.55vw;
          height: 0.7vw;
        }
      }

      br {
        @include media-breakpoint-up(lg) {
          display: none;
        }
      }
    }

    &--inst {
      color: $white;
      font-weight: 700;

      &::before {
        width: 22px;
        height: 21px;
        background-image: url("../../img/svg/inst.svg");

        @include media-breakpoint-up(lg) {
          width: 1.5vw;
          height: 1.5vw;
        }
      }

      a {
        position: relative;
        top: -3px;

        @include media-breakpoint-up(lg) {
          top: -0.2vw;
        }
      }
    }

    &--phone {
      &::before {
        width: 12px;
        height: 12px;
        background-image: url("../../img/svg/phone-alt.svg");

        @include media-breakpoint-up(lg) {
          width: 0.75vw;
          height: 0.8vw;
        }
      }
    }

    &--email {
      margin-bottom: 0.4vw;

      &::before {
        width: 12px;
        height: 9px;
        background-image: url("../../img/svg/email.svg");

        @include media-breakpoint-up(lg) {
          width: 0.95vw;
          height: 0.8vw;
        }
      }
    }

    &--group {
      &::before {
        left: -20px;
        width: 19px;
        height: 12px;
        background-image: url("../../img/svg/users.svg");

        @include media-breakpoint-up(lg) {
          left: -1.2vw;
          width: 1vw;
          height: 0.7vw;
        }
      }
    }

    &--sm {
      font-size: 3vw;

      @include media-breakpoint-up(lg) {
        font-size: 1vw;
        line-height: 1.1vw;
      }
    }
  }

  .page-footer-text {
    margin-top: 0;
    font-size: 16px;
    line-height: 22px;
  }

  .page-footer-link {
    display: inline-block;
    font-size: 18px;
    line-height: 25px;
    color: $white;

    &--no-underline {
      text-decoration: none;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  html[class~="ie"] & {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
}
