.page-section {
  //margin-top: 5vw;
  text-align: center;

  @include media-breakpoint-up(lg) {
    margin-top: 9vw;
  }

  //@include media-breakpoint-up(xxl) {
  //  margin-top: 9vw;
  //}

  //@include media-breakpoint-up(xl) {
  //  margin-top: 6.5vw;
  //}
  //
  //@include media-breakpoint-up(xxl) {
  //  margin-top: 7.5vw;
  //}

  &--partners {
    margin-bottom: 29vw;

    @include media-breakpoint-up(sm) {
      //margin-bottom: 35vw;
      //background-color: $white;
    }

    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
      //background-color: $white;
    }
  }



  &--partners &-inner {
    padding: 7vw;
    border-radius: 8vw;
    background-color: $white;

      @include media-breakpoint-up(lg) {
        padding: 2vw;
        border-radius: 0;
        background-color: transparent;
      }
  }

  //&--advantages {
  //  margin-top: -10vw;
  //
  //  @include media-breakpoint-up(md) {
  //    margin-top: -70px;
  //  }
  //
  //  @include media-breakpoint-up(lg) {
  //    margin-top: -50px;
  //  }
  //}

  &-title {
    margin-top: 0;
    margin-bottom: 5vw;
    text-align: center;
    font-size: 8vw;
    line-height: 9vw;
    font-weight: 700;

    //@include media-breakpoint-up(sm) {
    //  font-size: 50px;
    //  line-height: 50px;
    //}

    @include media-breakpoint-up(lg) {
      margin-bottom: 2vw;
      font-size: 3.5vw;
      line-height: 4vw;
    }

    .page-section--advantages & {
      margin-bottom: 10vw;

      @include media-breakpoint-up(lg) {
        margin-bottom: 0;
      }
    }
  }

  &-title br {
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  &-content {
    position: relative;
  }
}
