.page-promo {
  position: relative;

  &-content {
    @include media-breakpoint-up(lg) {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
    }
  }

  &-inner {
    @extend .container;

    @include media-breakpoint-up(lg) {
      display: flex;
      justify-content: space-between;
    }
  }

  &-title {
    font-size: 10vw;
    line-height: 11vw;
    font-weight: 400;
    text-align: center;

    @include media-breakpoint-up(lg) {
      margin-top: 1.9vw;
      font-size: 4.2vw;
      line-height: 4.5vw;
      margin-bottom: 0;
      text-align: left;
    }

    span {
      position: relative;
      left: 0.6vw;
      margin-right: 0.5vw;

      &::before {
        content: "";
        position: absolute;
        top: 2.2vw;
        left: -1.2vw;
        right: -1vw;
        bottom: -0.7vw;
        z-index: -1;
        background-color: $yellow;
        border-radius: 1.2vw;

        @include media-breakpoint-up(lg) {
          top: 0.9vw;
          left: -0.6vw;
          right: -0.6vw;
          bottom: -0.3vw;
          border-radius: 0.5vw;
        }
      }
    }
  }

  &-form {
    display: none;

    @include media-breakpoint-up(lg) {
      display: block;
    }
  }

  html[class~="ie"] & {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
}
