.page {

  &--modal-opened {
      overflow: hidden;

    body {
      position: fixed;
    }
  }
}

.page-inner {
  height: 1000px;
  background-color: $gray;
  background-repeat: no-repeat;
  background-size: 1702px auto;
  background-position: -88px 60px;

  html[class~="ie"] & {
    position: fixed;
  }
}
