.promo {
  position: relative;
  //padding-top: 18vw;
  padding-bottom: 38vw;
  overflow: hidden;

  @include media-breakpoint-up(lg) {
    padding-top: 7vw;
    padding-bottom: 13vw;
  }

  //@include media-breakpoint-up(lg) {
  //  padding-bottom: 395px;
  //}

  &-container {
    //&::before {
    //  content: "";
    //  position: absolute;
    //  top: 0;
    //  left: 0;
    //  bottom: 0;
    //  right: -200px;
    //  background: url("../img/content/map.svg");
    //  background-repeat: no-repeat;
    //  background-position: 12% 49%;
    //  background-size: 116vw 300vw;
    //
    //  @include media-breakpoint-up(md) {
    //    background-size: 900px 1150px;
    //  }
    //
    //  @include media-breakpoint-up(lg) {
    //    background-size: 600px 1250px;
    //    background-position: 31% 57%;
    //  }
    //
    //  @include media-breakpoint-up(xl) {
    //    background-position: 46% 57%;
    //  }
    //}
  }

  &-info {
    position: relative;
    z-index: 5;
    margin-right: 3vw;
    margin-left: 3vw;
    margin-bottom: 24vw;
    height: 49.2vw;
    padding: 6vw 10vw;
    display: flex;
    flex-direction: column;
    background-color: $white;
    align-items: center;
    text-align: center;
    border-radius: 5vw;
    box-shadow: 0 0 20px 0 rgba($black, 0.2);

    @include media-breakpoint-up(lg) {
      //margin-left: 40px;
      //margin-right: 40px;
      margin: 0;
      padding-top: 6vw;
      padding-right: 2vw;
      padding-bottom: 6vw;
      padding-left: 0.5vw;
      height: auto;
      border-radius: 25px;
      //background-color: transparent;
      box-shadow: none;
      border-radius: 0;
    }

    @include media-breakpoint-up(lg) {
      flex-direction: row;
      align-items: center;
      text-align: left;
    }

    &::before {
      position: absolute;
      top: 0;
      left: -4.75vw;
      z-index: -1;
      width: calc(100% + 9.5vw);
      height: 100%;
      background-color: $white;
      border-radius: 2vw;
      box-shadow: 0 0 20px 0 rgba($black, 0.2);

      @include media-breakpoint-up(lg) {
        content: "";
      }
    }
  }

  &-logo {
    width: 25vw;
    height: 20vw;

    //@include media-breakpoint-up(md) {
    //
    //}

    @include media-breakpoint-up(lg) {
      margin-right: 40px;
      width: 35vw;
      height: auto;
      //width: 300px;
      //height: 100px;
    }
  }

  &-info p {
    margin: 0;
    margin-top: 4vw;
    font-size: 3vw;
    line-height: 4.5vw;

    @include media-breakpoint-up(lg) {
      margin-top: 0;
      font-size: 2vw;
      line-height: 2.7vw;
    }

    @include media-breakpoint-up(xl) {
      margin-top: 0;
    }
  }

  &-content {
    position: relative;
    //padding-top: 16vw;
    //margin-top: -5vw;
    //padding: 15vw 0;
    text-align: center;

    //@include media-breakpoint-up(sm) {
    //  padding-top: 30vw;
    //}

    //@include media-breakpoint-up(md) {
    //  margin-top: -35px;
    //  padding: 9vw 0;
    //  //padding: 150px 0;
    //}

    @include media-breakpoint-up(lg) {
      margin-top: 0;
      padding: 0;
      padding-top: 6vw;
      display: flex;
      justify-content: space-between;
    }

    @include media-breakpoint-up(xl) {
      padding-top: 7vw;
    }
    //&::before,
    //&::after {
    //  content: "";
    //  position: absolute;
    //  top: 0;
    //  bottom: 0;
    //  width: $container-padding-x;
    //  background-color: rgba($yellow, 0.6);
    //
    //  @include media-breakpoint-up(md) {
    //    width: 10000px;
    //  }
    //}
    //
    //&::before {
    //  left: -$container-padding-x;
    //
    //  @include media-breakpoint-up(md) {
    //    left: -10000px;
    //  }
    //}
    //
    //&::after {
    //  right: -$container-padding-x;
    //
    //  @include media-breakpoint-up(md) {
    //    right: -10000px;
    //  }
    //}
  }

  &-item {
    position: relative;

    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
      display: flex;
      align-items: center;
      text-align: left;
    }

    &:first-child {
      margin-bottom: 15vw;

      //@include media-breakpoint-up(md) {
      //  margin-bottom: 100px;
      //}

      @include media-breakpoint-up(lg) {
        margin-bottom: 0;
        //margin-right: 250px;
      }
    }
  }

  &-item b {
    margin-bottom: 4vw;
    display: block;
    font-size: 10vw;
    line-height: 5vw;

    @include media-breakpoint-up(lg) {
      margin-right: 1vw;
      margin-bottom: 0;
      display: inline-block;
      font-size: 4.25vw;
      //line-height: 5vw;
      vertical-align: middle;
    }
    //
    //@include media-breakpoint-up(lg) {
    //  margin-right: 15px;
    //  margin-bottom: 0;
    //  //width: 130px;
    //  display: inline-block;
    //  vertical-align: sub;
    //  font-size: 60px;
    //  text-align: center;
    //}
  }

  &-item small {
    font-size: 4vw;
    line-height: 4vw;

    //@include media-breakpoint-up(md) {
    //  margin-bottom: 30px;
    //  font-size: 30px;
    //  line-height: 30px;
    //}

    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
      display: inline-block;
      vertical-align: middle;
      font-size: 1.75vw;
      line-height: 1.75vw;
    }
  }
}
