.select {
  display: block;
  padding-right: 8px;
  padding-left: 8px;
  height: 34px;
  width: 100%;
  font-family: $secondary-font-family;
  font-size: 14px;
  line-height: 22px;
  color: $gray-dark;
  background-color: $white;
  background-image: url("../../img/svg/select-arrow.svg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: calc(100% + 1px) 50%;
  border-radius: 5px;
  border: 1px solid $gray-medium;
  appearance: none;
  outline: none;

  @include media-breakpoint-up(lg) {
    font-size: 1.1vw;
    line-height: 1.2vw;
    border-radius: 0.3vw;
  }

  @include media-breakpoint-up(xl) {
    font-size: 1vw;
  }

  @include media-breakpoint-up(xxl) {
    font-size: 0.9vw;
  }

  @include hover {
    border-color: darken($gray-medium, 10%);
  }

  @include focus {
    border-color: darken($gray-medium, 10%);
  }

  &--header {
    padding-right: 5px;
    padding-left: 5px;
    height: 24px;
    width: 180px;
    display: inline-block;

    @include media-breakpoint-up(md) {
      margin-top: -20px;
    }
  }

  &--form {
    @include media-breakpoint-up(xxl) {
      height: 1.9vw;
      font-size: 0.75vw;
      line-height: 1.2vw;
    }
  }
}
