@keyframes fade-in {
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes bounce-left {
  60% {
    opacity: 1;
    transform: translateX(30px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes move-mobile-bus {

  80% {
    top: -0.5vw;
    left: 40vw;
    transform: rotate3d(0, 0, 1, 7deg);
  }
}

@keyframes move-bus {
  100% {
    transform: translate3d(3.6vw, 2.9vw, 0);
  }
}

.animated {
  &:not(&--visible) {
    visibility: hidden;
  };

  animation-delay: 0.5s;
}
