<ul class="advantages">
  <li class="advantages-item">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 337.046 337.045">
      <g id="Group_285" data-name="Group 285" transform="translate(-424.477 -4765.606)">
        <g id="Group_114" data-name="Group 114">
          <circle id="Ellipse_31" data-name="Ellipse 31" cx="168.523" cy="168.523" r="168.523" transform="translate(424.477 4765.606)" fill="#fff"/>
          <g id="Group_113" data-name="Group 113">
            <path id="Path_175" data-name="Path 175" d="M681.735,4969.973H508.883a11.765,11.765,0,0,1-11.765-11.765v-57.625a11.765,11.765,0,0,1,11.765-11.766h11.406l1.868,20.707a12.386,12.386,0,0,0,12.286,11.274l135.381.564,3.8,15.449a10.469,10.469,0,0,0,8.522,7.843l12.284.588.562,13.033A13.354,13.354,0,0,1,681.735,4969.973Z" fill="#ffdb2e" stroke="#18120e" stroke-miterlimit="10" stroke-width="3.381" fill-rule="evenodd"/>
            <g id="Group_111" data-name="Group 111">
              <circle id="Ellipse_32" data-name="Ellipse 32" cx="12.966" cy="12.966" r="12.966" transform="translate(526.379 4970.466) rotate(-45)" fill="#fff" stroke="#18120e" stroke-miterlimit="10" stroke-width="3.381"/>
              <path id="Path_176" data-name="Path 176" d="M544.715,4986.183a15.717,15.717,0,1,1,15.717-15.717A15.736,15.736,0,0,1,544.715,4986.183Zm0-25.931a10.215,10.215,0,1,0,10.215,10.214A10.226,10.226,0,0,0,544.715,4960.252Z" fill="#18120e" stroke="#18120e" stroke-miterlimit="10" stroke-width="3.381"/>
            </g>
            <g id="Group_112" data-name="Group 112">
              <circle id="Ellipse_33" data-name="Ellipse 33" cx="12.966" cy="12.966" r="12.966" transform="translate(635.225 4970.466) rotate(-45)" fill="#fff" stroke="#18120e" stroke-miterlimit="10" stroke-width="3.381"/>
              <path id="Path_177" data-name="Path 177" d="M653.562,4986.183a15.717,15.717,0,1,1,15.717-15.717A15.736,15.736,0,0,1,653.562,4986.183Zm0-25.931a10.215,10.215,0,1,0,10.215,10.214A10.226,10.226,0,0,0,653.562,4960.252Z" fill="#18120e" stroke="#18120e" stroke-miterlimit="10" stroke-width="3.381"/>
            </g>
            <path id="Path_178" data-name="Path 178" d="M682.926,4973.658H667.9a2.751,2.751,0,0,1,0-5.5h15.023a9.68,9.68,0,0,0,9.669-9.669v-12.059l-10.8-44.032c-1.766-6.939-5.426-10.324-11.184-10.324H508.472a9.681,9.681,0,0,0-9.669,9.669v56.746a9.681,9.681,0,0,0,9.669,9.669H529a2.751,2.751,0,0,1,0,5.5H508.472a15.189,15.189,0,0,1-15.171-15.171v-56.746a15.189,15.189,0,0,1,15.171-15.171H670.609c8.276,0,14.144,5.147,16.522,14.492l10.887,44.378a2.726,2.726,0,0,1,.08.655v12.392A15.189,15.189,0,0,1,682.926,4973.658Z" fill="#18120e" stroke="#18120e" stroke-miterlimit="10" stroke-width="3.381"/>
            <path id="Path_179" data-name="Path 179" d="M637.495,4973.658H559.206a2.766,2.766,0,1,1,0-5.5h78.289a2.766,2.766,0,1,1,0,5.5Z" fill="#18120e" stroke="#18120e" stroke-miterlimit="10" stroke-width="3.381"/>
            <path id="Path_180" data-name="Path 180" d="M669.384,4924.81H536.939a20.21,20.21,0,0,1-20.187-20.187v-15.3a2.751,2.751,0,0,1,2.751-2.751H662.326a2.75,2.75,0,0,1,2.689,2.171l7.059,32.737a2.752,2.752,0,0,1-2.69,3.332Zm-147.129-32.738v12.551a14.7,14.7,0,0,0,14.684,14.684H665.976l-5.872-27.235Z" fill="#18120e" stroke="#18120e" stroke-miterlimit="10" stroke-width="3.381"/>
            <path id="Path_181" data-name="Path 181" d="M694.908,4946.926H680.164a10.32,10.32,0,0,1-10.037-8.113L659.635,4889.9a2.752,2.752,0,0,1,2.691-3.328h8.8a15.847,15.847,0,0,1,15.421,12.087l11.035,44.86a2.751,2.751,0,0,1-2.671,3.409Zm-29.179-54.854,9.778,45.587a4.788,4.788,0,0,0,4.657,3.764H691.4l-10.2-41.451a10.357,10.357,0,0,0-10.077-7.9Z" fill="#18120e" stroke="#18120e" stroke-miterlimit="10" stroke-width="3.381"/>
          </g>
        </g>
      </g>
    </svg>
    <div class="advantages-content">
      <b>Более 100</b>
      <p>автобусов доставляют<br />посылки каждый день</p>
    </div>
  </li>
  <li class="advantages-item">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 337.045 337.045">
      <g id="Group_286" data-name="Group 286" transform="translate(-424.477 -5434.974)">
        <circle id="Ellipse_37" data-name="Ellipse 37" cx="168.523" cy="168.523" r="168.523" transform="translate(424.477 5434.974)" fill="#fff"/>
        <g id="Group_123" data-name="Group 123">
          <path id="Path_185" data-name="Path 185" d="M679.465,5642.784h-153.7a15.838,15.838,0,0,1-15.53-12.733l-11.506-57.569a15.838,15.838,0,0,0-15.53-12.733h-7.516" fill="none" stroke="#18120e" stroke-linecap="round" stroke-linejoin="round" stroke-width="8.451"/>
          <g id="Group_122" data-name="Group 122">
            <path id="Path_186" data-name="Path 186" d="M657.152,5626.959H535.227a8.991,8.991,0,0,1-8.991-8.992v-73.3a8.991,8.991,0,0,1,8.991-8.992H657.152a8.992,8.992,0,0,1,8.992,8.992v73.3a8.992,8.992,0,0,1-8.992,8.992" fill="#ffdb2e" stroke="#18120e" stroke-linecap="round" stroke-linejoin="round" stroke-width="8.451" fill-rule="evenodd"/>
            <g id="Group_120" data-name="Group 120">
              <line id="Line_9" data-name="Line 9" y2="18.827" transform="translate(642.909 5583.894)" fill="#ffdb2e" stroke="#18120e" stroke-linecap="round" stroke-linejoin="round" stroke-width="8.451"/>
              <line id="Line_10" data-name="Line 10" x2="7.849" y2="7.849" transform="translate(642.909 5583.632)" fill="#ffdb2e" stroke="#18120e" stroke-linecap="round" stroke-linejoin="round" stroke-width="8.451"/>
              <line id="Line_11" data-name="Line 11" x1="8.401" y2="8.401" transform="translate(634.508 5583.632)" fill="#ffdb2e" stroke="#18120e" stroke-linecap="round" stroke-linejoin="round" stroke-width="8.451"/>
              <line id="Line_12" data-name="Line 12" x2="15.278" transform="translate(635.27 5614.107)" fill="#ffdb2e" stroke="#18120e" stroke-linecap="round" stroke-linejoin="round" stroke-width="8.451"/>
            </g>
            <g id="Group_121" data-name="Group 121">
              <line id="Line_13" data-name="Line 13" y2="18.827" transform="translate(615.001 5583.894)" fill="#ffdb2e" stroke="#18120e" stroke-linecap="round" stroke-linejoin="round" stroke-width="8.451"/>
              <line id="Line_14" data-name="Line 14" x2="7.849" y2="7.849" transform="translate(615.001 5583.632)" fill="#ffdb2e" stroke="#18120e" stroke-linecap="round" stroke-linejoin="round" stroke-width="8.451"/>
              <line id="Line_15" data-name="Line 15" x1="8.401" y2="8.401" transform="translate(606.6 5583.632)" fill="#ffdb2e" stroke="#18120e" stroke-linecap="round" stroke-linejoin="round" stroke-width="8.451"/>
              <line id="Line_16" data-name="Line 16" x2="15.278" transform="translate(607.362 5614.107)" fill="#ffdb2e" stroke="#18120e" stroke-linecap="round" stroke-linejoin="round" stroke-width="8.451"/>
            </g>
            <line id="Line_17" data-name="Line 17" y2="18.827" transform="translate(596.19 5535.679)" fill="#ffdb2e" stroke="#18120e" stroke-linecap="round" stroke-linejoin="round" stroke-width="8.451"/>
          </g>
          <circle id="Ellipse_38" data-name="Ellipse 38" cx="12.05" cy="12.05" r="12.05" transform="translate(524.514 5677.722) rotate(-81.086)" stroke-width="8.451" stroke="#18120e" stroke-linecap="round" stroke-linejoin="round" fill="#fff"/>
          <circle id="Ellipse_39" data-name="Ellipse 39" cx="12.05" cy="12.05" r="12.05" transform="translate(641.558 5679.228) rotate(-87.635)" stroke-width="8.451" stroke="#18120e" stroke-linecap="round" stroke-linejoin="round" fill="#fff"/>
        </g>
      </g>
    </svg>
    <div class="advantages-content">
      <b>Удобство</b>
      <p>получения груза,<br />гибкая система выдачи</p>
    </div>
  </li>
  <li class="advantages-item">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 337.046 337.045">
      <g id="Group_289" data-name="Group 289" transform="translate(-424.477 -6104.342)">
        <g id="Group_288" data-name="Group 288">
          <circle id="Ellipse_28" data-name="Ellipse 28" cx="168.523" cy="168.523" r="168.523" transform="translate(424.477 6104.342)" fill="#fff"/>
          <g id="Group_109" data-name="Group 109">
            <path id="Path_173" data-name="Path 173" d="M507.243,6260.276c11.515-10.789,39.829-15.681,55.387,1.173,21.127,22.885-1.648,58.328,22.534,76.846,25.4,19.452,47.982-2.013,47.982-2.013" fill="none" stroke="#18120e" stroke-linecap="round" stroke-linejoin="round" stroke-width="8.451" stroke-dasharray="0 10.911"/>
            <circle id="Ellipse_29" data-name="Ellipse 29" cx="14.35" cy="14.35" r="14.35" transform="matrix(0.924, -0.383, 0.383, 0.924, 470.344, 6271.447)" stroke-width="8.451" stroke="#18120e" stroke-linecap="round" stroke-linejoin="round" fill="none"/>
            <g id="Group_108" data-name="Group 108">
              <path id="Path_174" data-name="Path 174" d="M658.945,6278.793l-9.233,59.5-9.233-59.5.012.014a40.291,40.291,0,1,1,18.458,0Z" fill="#fbdc13" stroke="#18120e" stroke-linecap="round" stroke-linejoin="round" stroke-width="8.451"/>
              <circle id="Ellipse_30" data-name="Ellipse 30" cx="20.974" cy="20.974" r="20.974" transform="translate(628.738 6218.6)" stroke-width="8.451" stroke="#18120e" stroke-linecap="round" stroke-linejoin="round" fill="#fff"/>
            </g>
          </g>
        </g>
      </g>
    </svg>
    <div class="advantages-content">
      <b>Доставка</b>
      <p>в труднодоступные<br />населённые пункты</p>
    </div>
  </li>
  <li class="advantages-item">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 337.046 337.045">
      <g id="Group_107" data-name="Group 107" transform="translate(-424.477 -6773.709)">
        <circle id="Ellipse_25" data-name="Ellipse 25" cx="168.523" cy="168.523" r="168.523" transform="translate(424.477 6773.709)" fill="#fff"/>
        <g id="Group_106" data-name="Group 106">
          <g id="Group_105" data-name="Group 105">
            <path id="Path_170" data-name="Path 170" d="M671.042,7034.843a14.528,14.528,0,0,1-10.3-4.266l-57.562-57.563a14.569,14.569,0,0,1,20.6-20.6l57.562,57.563a14.568,14.568,0,0,1-10.3,24.87Z" fill="#fbdc13" stroke="#18120e" stroke-linecap="round" stroke-linejoin="round" stroke-width="8.451"/>
            <circle id="Ellipse_26" data-name="Ellipse 26" cx="68.965" cy="68.965" r="68.965" transform="translate(471.823 6918.587) rotate(-45)" stroke-width="8.451" stroke="#18120e" stroke-linecap="round" stroke-linejoin="round" fill="#fbdc13"/>
            <circle id="Ellipse_27" data-name="Ellipse 27" cx="51.922" cy="51.922" r="51.922" transform="translate(495.925 6918.587) rotate(-45)" stroke-width="8.451" stroke="#18120e" stroke-linecap="round" stroke-linejoin="round" fill="#fff"/>
          </g>
          <path id="Path_171" data-name="Path 171" d="M534.136,6927.338a37.229,37.229,0,0,1,12.44-37.62" fill="#fff" stroke="#18120e" stroke-linecap="round" stroke-linejoin="round" stroke-width="8.451" fill-rule="evenodd"/>
          <path id="Path_172" data-name="Path 172" d="M540.621,6940.874a37.3,37.3,0,0,1-2.4-3.573" fill="#fff" stroke="#18120e" stroke-linecap="round" stroke-linejoin="round" stroke-width="8.451" fill-rule="evenodd"/>
        </g>
      </g>
    </svg>
    <div class="advantages-content">
      <b>Трекинг</b>
      <p>отслеживание <br />посылки на сайте</p>
    </div>
  </li>
  <li class="advantages-item">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 337.045 337.045">
      <g id="Group_290" data-name="Group 290" transform="translate(-424.477 -7443.077)">
        <circle id="Ellipse_40" data-name="Ellipse 40" cx="168.523" cy="168.523" r="168.523" transform="translate(424.477 7443.077)" fill="#fff"/>
        <g id="Group_127" data-name="Group 127">
          <line id="Line_18" data-name="Line 18" x1="3.934" y2="3.934" transform="translate(639.767 7560.771)" fill="#ffdb2e" stroke="#18120e" stroke-linecap="round" stroke-linejoin="round" stroke-width="4.801"/>
          <line id="Line_19" data-name="Line 19" x1="3.934" y2="3.934" transform="translate(542.379 7658.159)" fill="#ffdb2e" stroke="#18120e" stroke-linecap="round" stroke-linejoin="round" stroke-width="4.801"/>
          <g id="Group_126" data-name="Group 126">
            <circle id="Ellipse_41" data-name="Ellipse 41" cx="72.946" cy="72.946" r="72.946" transform="translate(509.327 7670.97) rotate(-80.783)" stroke-width="8.451" stroke="#18120e" stroke-linecap="round" stroke-linejoin="round" fill="#ffdb2e"/>
            <line id="Line_20" data-name="Line 20" y1="13.68" transform="translate(593.016 7537.704)" fill="#ffdb2e" stroke="#18120e" stroke-linecap="round" stroke-linejoin="round" stroke-width="8.451"/>
            <line id="Line_21" data-name="Line 21" y1="13.68" transform="translate(593.016 7669.917)" fill="#ffdb2e" stroke="#18120e" stroke-linecap="round" stroke-linejoin="round" stroke-width="8.451"/>
            <g id="Group_125" data-name="Group 125">
              <line id="Line_22" data-name="Line 22" x2="13.68" transform="translate(652.282 7610.65)" fill="#ffdb2e" stroke="#18120e" stroke-linecap="round" stroke-linejoin="round" stroke-width="8.451"/>
              <line id="Line_23" data-name="Line 23" x2="13.68" transform="translate(520.07 7610.65)" fill="#ffdb2e" stroke="#18120e" stroke-linecap="round" stroke-linejoin="round" stroke-width="8.451"/>
            </g>
            <line id="Line_24" data-name="Line 24" x1="3.934" y2="3.934" transform="translate(639.767 7560.771)" fill="#ffdb2e" stroke="#18120e" stroke-linecap="round" stroke-linejoin="round" stroke-width="8.451"/>
            <line id="Line_25" data-name="Line 25" x1="3.934" y2="3.934" transform="translate(542.379 7658.159)" fill="#ffdb2e" stroke="#18120e" stroke-linecap="round" stroke-linejoin="round" stroke-width="8.451"/>
            <line id="Line_26" data-name="Line 26" x2="3.934" y2="3.934" transform="translate(542.379 7560.771)" fill="#ffdb2e" stroke="#18120e" stroke-linecap="round" stroke-linejoin="round" stroke-width="8.451"/>
            <line id="Line_27" data-name="Line 27" x2="3.934" y2="3.934" transform="translate(639.767 7658.159)" fill="#ffdb2e" stroke="#18120e" stroke-linecap="round" stroke-linejoin="round" stroke-width="8.451"/>
            <path id="Path_187" data-name="Path 187" d="M593.016,7564.7v45.946l26.084-26.084" fill="#ffdb2e" stroke="#18120e" stroke-linecap="round" stroke-linejoin="round" stroke-width="8.451"/>
          </g>
        </g>
      </g>
    </svg>
    <div class="advantages-content">
      <b>Сверхсрочно</b>
      <p>доставляем документы <br />и грузы</p>
    </div>
  </li>
  <li class="advantages-item">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 337.046 337.045">
      <g id="Group_291" data-name="Group 291" transform="translate(-424.477 -8112.445)">
        <circle id="Ellipse_34" data-name="Ellipse 34" cx="168.523" cy="168.523" r="168.523" transform="translate(424.477 8112.445)" fill="#fff"/>
        <g id="Group_118" data-name="Group 118">
          <path id="Path_182" data-name="Path 182" d="M507.342,8356.217" fill="#ffdb2e" stroke="#18120e" stroke-linecap="round" stroke-linejoin="round" stroke-width="8.451" fill-rule="evenodd"/>
          <g id="Group_115" data-name="Group 115">
            <circle id="Ellipse_35" data-name="Ellipse 35" cx="40.1" cy="40.1" r="40.1" transform="translate(550.235 8193.57)" stroke-width="8.451" stroke="#18120e" stroke-linecap="round" stroke-linejoin="round" fill="#fff"/>
            <path id="Path_183" data-name="Path 183" d="M515.36,8356.217v-34.111a33.8,33.8,0,0,1,33.8-33.8h82.344a33.8,33.8,0,0,1,33.8,33.8v34.111" fill="#fff" stroke="#18120e" stroke-linecap="round" stroke-linejoin="round" stroke-width="8.451" fill-rule="evenodd"/>
          </g>
          <g id="Group_117" data-name="Group 117">
            <rect id="Rectangle_26" data-name="Rectangle 26" width="41.314" height="52.882" rx="12.698" transform="translate(631.402 8272.197)" stroke-width="8.451" stroke="#18120e" stroke-linecap="round" stroke-linejoin="round" fill="none"/>
            <rect id="Rectangle_27" data-name="Rectangle 27" width="66.103" height="57.84" rx="9.827" transform="translate(618.181 8309.466)" stroke-width="8.451" stroke="#18120e" stroke-linecap="round" stroke-linejoin="round" fill="#ffdb2e"/>
            <g id="Group_116" data-name="Group 116">
              <circle id="Ellipse_36" data-name="Ellipse 36" cx="6.61" cy="6.61" r="6.61" transform="translate(644.622 8327.81)" fill="#18120e"/>
              <path id="Path_184" data-name="Path 184" d="M651.233,8352.709a3.748,3.748,0,0,1-3.748-3.747V8334.42a3.747,3.747,0,1,1,7.495,0v14.542A3.747,3.747,0,0,1,651.233,8352.709Z" fill="#18120e"/>
            </g>
          </g>
        </g>
      </g>
    </svg>
    <div class="advantages-content">
      <b>Личный кабинет</b>
      <p>удобство пользования <br />на сайте</p>
    </div>
  </li>
</ul>
