<form action="" class="form--test-drive">
  <h3 class="form-title">Хочешь отправить посылку бесплатно?<br />Запишись на тест-драйв</h3>
  <p class="form-text">Предложение действует для юридических лиц и ИП</p>
  <div class="form-row">
    <input type="text" name="person" id="person" class="input" placeholder="ФИО">
    <input type="text" name="place-count" id="tel" class="input" placeholder="Телефон">
    <input type="text" name="place-count" id="email" class="input" placeholder="E-mail">
  </div>
  <div class="form-group" style="margin-top: 1vw;margin-left: 20.2vw">
    <div class="checkbox">
      <input type="checkbox" id="subscribe"/>
      <label class="checkbox-label" for="subscribe">Не против изредка получать весточки от компании</label>
    </div>

  </div>
  <button type="submit" class="form-btn">Отправить заявку</button>
</form>
